main {
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 5px;
  }

img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    border: 5px solid #fcfcfb;
}

p {
    text-align: center;
    margin: 50px;
}

#quote {
    border: solid rgb(182, 182, 182) thin;
    padding: 10px;
}