main {
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 5px;
  }

.picture-box {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    border: 5px solid #10ccd3;
}

p {
    text-align: center;
    margin: 50px;
}

.quote {
    border: solid #10ccd3 thin;
    padding: 10px;
}